nav {
  position: fixed;
  top: 2rem;
  left: 0;
  padding: 0 2.5%;
  width: 95%;
  z-index: 20;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in;
  transition-delay: 0.75s;
  opacity: 0;
  &.visible {
    opacity: 1;
  }

  > div {
    flex: 1 1 30%; /*grow | shrink | basis */
    height: 100%;
    color: white;
    &.title {
      font-size: 4rem;
      text-transform: uppercase;
      margin-bottom: -10px;
      opacity: 1;
      transition: 0.15s ease-in-out;
      &.hidden {
        opacity: 0;
      }
      @media screen and (max-width: 1080px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }
    &.info {
      font-size: 1.8rem;
      &:hover {
        opacity: 0.5;
      }
      > div {
        padding-left: 1rem;
        justify-content: flex-start;
      }
    }
    &.arrow {
      &:hover {
        opacity: 0.5;
      }
      > div {
        padding-right: 1rem;
        justify-content: flex-end ;
      }
    }
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      img {
        height: 25px;
        width: auto;
      }
    }
  }
}


.nav--overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: transparent;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s ease-in;
  color: black;
  background: transparent;
  &.active {
    opacity: 0.5;
    z-index: 10;
    .title {
      color: black;
      opacity: 0;
    }
  }
  .close--container {
    font-size: 3rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    height: auto;
  }
}
