nav {
  position: fixed;
  left: 0;
  top: 1rem;
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in;
  transition-delay: 0.75s;
  opacity: 0;
  z-index: 20;
  @media screen and (min-width: 1800px) {
    > div {
      padding: 0 2rem;
    }
  }

  &.dark--text {
    .title {
      color: black;
    }
  }

  &.visible {
    opacity: 1;
  }

  > div {
    flex: 1 1 30%; /*grow | shrink | basis */
    height: 100%;
    color: white;

    &.title {
      font-size: 4rem;
      text-transform: uppercase;
      margin-bottom: -10px;
      opacity: 1;
      transition: 0.15s ease-in-out;
      @media screen and (max-width: 768px){
        display: none;
      }

      &.hidden {
        opacity: 0;
      }

      @media screen and (max-width: 1080px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }

    &.info {
      font-size: 1.8rem;

      &:hover {
        opacity: 0.5;
      }

      > div {
        padding-left: 1rem;
        justify-content: flex-start;
      }
    }

    &.arrow {
      &:hover {
        opacity: 0.5;
      }

      > div {
        padding-right: 1rem;
        justify-content: flex-end;
      }
    }

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        height: 45px;
        width: auto;
        @media screen and (max-width: 900px) {
          height: 25px;
        }
      }
    }
  }
}


.nav--overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: transparent;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s linear;
  color: black;
  background: transparent;
  &.arrow--overlay {
    @media screen and (max-width: 768px) {
      background: white;
    }
  }
  &.dark--text {
    color: black;
    .info--container {
      h1, h2, h3, p, a {
        color: white !important;
        font-family: 'Romie-Regular' !important;
      }
    }
    li {
      color: black;
    }
  }

  .project--nav {
    width: 100%;
    height: 100%;
    overflow: scroll;
    @media screen and (max-width: 768px) {
      li {
        border-top: 1px solid black !important;
        color: black;
        &:last-of-type {
          border-bottom: 1px solid black !important;
        }
      }
      .project--title {
        color: black;
        font-size: 1rem !important;
        .index {
          color: black;
        }
      }
      .tags {
        color: black;
      }
      span {
        color: black;
      }
    }

    li {
       border-top: 1px solid rgba(255,255,255,0.5);
      &:last-of-type {
        border-bottom: 1px solid rgba(255,255,255,0.5);
      }
       font-family: 'NeueMachina-Light' !important;
       color: white;
       text-transform: uppercase;
       text-align: center;
       height: 20vh;
       display: flex;
       align-items: center;
       justify-content: center;
       &:hover {
         font-family: 'NeueMachina-Regular' !important;
       }
       .project--title {
         font-size: 3rem;
         padding-bottom: 1rem;
         position: relative;
         .index {
           display: inline;
           position: absolute;
           margin-top: -0.8rem;
           margin-left: 0.8rem;
           font-size: 0.8rem;
         }
       }
       .tags {
         font-size: 1.4rem;
       }
       span {
         display: block;
       }
     }
  }

  .info--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 75%;
    font-size: 4rem;
    color: white;

    h1, h2, h3 {
      display: inline;
    }

    h1, h3 {
      font-family: 'NeueMachina-Regular';
    }

    h1 {
      margin-right: 10px;
      font-size: 1.5rem;
    }

    h2 {
      margin-right: 10px;
      font-family: 'Romie-Regular', sans-serif;
      font-size: 1rem;
    }

    h3 {
      font-size: 0.8rem;
      font-family: 'NeueMachina-Regular' !important;
      position: absolute;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      .top {
        padding-top: 6rem !important;

        h1, h2, h3, p, a {
          display: block;
          line-height: 110%;
          margin: 0 3rem;
        }

        h1 {
          font-size: 3rem;
        }
      }
      .bottom {
        p {
          display: block;
          font-size: 1.4rem;
        }
      }
    }

    .top {
      padding-top: 3rem;
    }

    .bottom {
      padding-bottom: 3rem;
      font-family: 'NeueMachina-Regular';
      text-transform: uppercase;
      font-size: 1rem;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        width: 100%;
      }

      p {
        display: inherit;
        margin: inherit;
        font-size: 2.5vw;
        margin-bottom: 1rem;
        padding: 0 2.5%;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    z-index: 10;
    @media screen and (max-width: 768px) {
      opacity: 1;
      .info--container {
        color: white;
        a {
          color: white;
          text-decoration: underline;
        }
      }
    }

    .title {
      color: black;
      opacity: 0;
    }
  }

  .close--container {
    font-size: 3rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    height: auto;
  }
}
