@import './nav/nav';
@import './homepage/home';
@import './footer/footer';


@font-face {
  font-family: 'NeueMachina-Light';
  src: url("https://ijadams.s3.amazonaws.com/envelope/NeueMachina-Light.ttf") format('ttf');
}

@font-face {
  font-family: 'NeueMachina-Regular';
  src: url("https://ijadams.s3.amazonaws.com/envelope/NeueMachina-Regular.ttf") format('ttf');
}


@font-face {
  font-family: 'Romie-Regular';
  src: url("https://ijadams.s3.amazonaws.com/envelope/Romie-Regular.ttf") format('ttf');
}


html, body {
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden !important;
  @media screen and (max-width: 480px) {
    body {
    }
  }
}

html *,
body * {
  cursor: none !important;
}

body {
  font-family: 'NeueMachina-Regular', sans-serif;

  button {
    border-radius: 3px !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
  }

  p, h1, h2, h3 {
    font-family: 'NeueMachina-Regular', sans-serif;
  }
}

.startup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 9999999;
  transition: 0.8s ease-out;
  transition-delay: 2.5s, 3.5s, 5s;
  transition-property: transform, opacity, visibility;
  &.loaded {
    transform: translateY(-100vh);
    visibility: hidden;
    opacity: 0;
  }


  img.background {
    height: 100%;
    width: 100%;
    filter: none;
    mix-blend-mode: inherit;
  }
}

.not--found {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.8rem;
  padding: 0 2rem;
}

.cursor {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 5rem;
  height: 5rem;
  background: url('https://ijadams.s3.amazonaws.com/envelope/Cursor-white.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  &.dark--text {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    width: 5rem;
    height: 5rem;
    background: url('https://ijadams.s3.amazonaws.com/envelope/Cursor.png') no-repeat;
    background-size: contain;
    background-position: center;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 150ms ease;
    transition-property: background-color, opacity, transform, mix-blend-mode;
    background-color: transparent;
    z-index: 9999;
  }
  &.active {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    width: 5rem;
    height: 5rem;
    background: url('https://ijadams.s3.amazonaws.com/envelope/Cursor-white.png') no-repeat;
    background-size: contain;
    background-position: center;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 150ms ease;
    transition-property: background-color, opacity, transform, mix-blend-mode;
    background-color: transparent;
    z-index: 9999;
  }
  &.dark--text.active {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    width: 5rem;
    height: 5rem;
    background: url('https://ijadams.s3.amazonaws.com/envelope/Cursor-white.png') no-repeat;
    background-size: contain;
    background-position: center;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 150ms ease;
    transition-property: background-color, opacity, transform, mix-blend-mode;
    background-color: transparent;
    z-index: 9999;
  }
  @media screen and (max-width: 768px) {
    width: 5rem !important;
    height: 5rem !important;
    background: url('https://ijadams.s3.amazonaws.com/envelope/Cursor.png') no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    position: fixed;
    transform: translate(-50%, -50%);
    transition: all 150ms ease;
    z-index: 9999;
  }
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  opacity: 0.8;
}

.cursor--clicked {
  opacity: 0.8;
}
