@import './nav/nav';
@import './homepage/home';
@import './footer/footer';


@font-face {
  font-family: 'NeueMachina-Light';
  src: url("https://ijadams.s3.amazonaws.com/envelope/NeueMachina-Light.ttf") format('ttf');
}

@font-face {
  font-family: 'NeueMachina-Regular';
  src: url("https://ijadams.s3.amazonaws.com/envelope/NeueMachina-Regular.ttf") format('ttf');
}


@font-face {
  font-family: 'Romie-Regular';
  src: url("https://ijadams.s3.amazonaws.com/envelope/Romie-Regular.ttf") format('ttf');
}


html, body {
  height: 100%;
  width: 100%;
  background: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'NeueMachina-Regular', sans-serif;
  button {
    border-radius: 3px !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
  }
  p, h1, h2, h3 {
    font-family: 'NeueMachina-Regular', sans-serif;
  }
}

.loader {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: white;
  transition: 0.5s ease-in-out;
}
