@import './nav/nav';
@import './homepage/home';
@import './footer/footer';


@font-face {
  font-family: 'NeueMachina-Light';
  src: url("https://ijadams.s3.amazonaws.com/envelope/NeueMachina-Light.ttf") format('ttf');
}

@font-face {
  font-family: 'NeueMachina-Regular';
  src: url("https://ijadams.s3.amazonaws.com/envelope/NeueMachina-Regular.ttf") format('ttf');
}


@font-face {
  font-family: 'Romie-Regular';
  src: url("https://ijadams.s3.amazonaws.com/envelope/Romie-Regular.ttf") format('ttf');
}


html, body {
  height: 100%;
  width: 100%;
  background: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'NeueMachina-Regular', sans-serif;

  button {
    border-radius: 3px !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
  }

  p, h1, h2, h3 {
    font-family: 'NeueMachina-Regular', sans-serif;
  }
}

.startup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #20232a;

  img.background {
    height: 100%;
    width: 100%;
    filter: none;
    mix-blend-mode: inherit;
  }
}

