#projects {
  height: 100vh;
  width: 100vw;
  > div {
    height: 100%;
    width: 100%;
  }
  .project {
    height: 100%;
    width: 100%;
    display: none;
    &:first-of-type {
      display: block;
    }
    > .awssld {
      height: 100%;
    }
  }
}

.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transition: 0.3s;
  &.active {
    filter: blur(15px) brightness(0.5);
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.awssld--fill-parent {
  height: 100vh !important;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content__main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: blue;
}

.content__action {
  margin-bottom: 56px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.content__action {
  display: flex;
  justify-content: space-around;
  padding: 24px 10%;

  > div {
    flex: 1;
    text-align: center;
  }
  > div:nth-child(1) {
    text-align: left;
  }
  > div:nth-child(3) {
    text-align: right;
  }
}

.content__action__go {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__action__github {
  a {
    font-family: Montserrat, tahoma, verdana, sans-serif;
    color: #fff;
    display: inline-block;
    padding: 10px 16px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
  svg {
    width: 20px;
    vertical-align: text-bottom;
    margin-bottom: -2px;
    margin-right: 6px;
  }
}

.content__action__select {
  select {
    width: 180px;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    color: #fff;
    font-family: Montserrat, tahoma, verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9ItCh0LvQvtC5XzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzOSAxMzk7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMzkgMTM5IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGRkY7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPjxsaW5lIGNsYXNzPSJzdDAiIGlkPSJYTUxJRF83XyIgeDE9IjE4IiB4Mj0iMTIxIiB5MT0iMzQuOCIgeTI9IjM0LjgiLz48bGluZSBjbGFzcz0ic3QwIiBpZD0iWE1MSURfOF8iIHgxPSI5NS4yIiB4Mj0iMTgiIHkxPSI2OS41IiB5Mj0iNjkuNSIvPjxsaW5lIGNsYXNzPSJzdDAiIGlkPSJYTUxJRF85XyIgeDE9IjY5LjUiIHgyPSIxOCIgeTE9IjEwNC4yIiB5Mj0iMTA0LjIiLz48L3N2Zz4=");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) 50%;
  }
}

.lettering--container {
  position: absolute;
  z-index: 8;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  transition: 0.15s ease-in-out;
  .lettering {
    padding: 2rem 5rem;
    opacity: 0;
    transition: 0.5s ease-in;
    transition-delay: 0.3s;
    @media screen and (max-width: 768px) {
      padding: 1rem;
    }
  }
  &.active {
    .lettering {
      opacity: 1;
    }
  }
}

.lettering {
  color: #fff;
  font-family: monospace;
  text-align: center;
  .title {
    text-transform: uppercase;
  }
}

.lettering h1 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
}

.lettering p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}


.awesome-slider {
  --organic-arrow-color: #fff;
}

.sectioned {
  display: block;
  overflow: scroll;
}


.awssld__content {
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-color: black;
  }
}

.home--container {
  .awssld__controls button {
    visibility: hidden;
  }
  &.active {
    .awssld__controls button {
      visibility: visible;
    }
  }
}

.project.active {
  .lettering--container {
    opacity: 0;
  }
  .awssld__controls button {
    z-index: 8;
  }
}



.awssld__content > img {
  filter: grayscale(100%) opacity(35%);
  mix-blend-mode: multiply;
}

.button {
  font-family: monospace;
  text-align: center;
  color: #fff;
}

.awssld__controls button {
  height: 100vh;
  top: 0;
}

.right--panel, .left--panel {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.5s ease-in;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.slider--overlay {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: white;
  visibility: hidden;
  transition: 0.5s ease-out;
  opacity: 0;
  &.active {
    opacity: 1;
    z-index: 21;
    visibility: visible;
  }
}

.left--panel {
  background: linear-gradient(to right, rgba(255,255,255,0.3), transparent);
}
.right--panel {
  background: linear-gradient(to left, rgba(255,255,255,0.3), transparent);
}
